MQTT_SETTINGS:
  MQTT_BROKER: mqtt.localdomain
  MQTT_PORT: 1883
#    MQTT_USERNAME: None
#    MQTT_PASSWORD: None
#    MQTT_KEEPALIVE: 60
#    MQTT_CLIENT_ID: None
#    MQTT_SHARE_CLIENT: None
  TOPIC: ha/#

WOL:
  IPADDRESS: 10.20.30.40
  MACADDRESS: 00:00:00:00:00:00